@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-size: 100%;
    line-height: 1.4;
}

h1 {
    font-size: 7em;
    margin-bottom: 2.94rem;
    font-family: 'Bangers', cursive;
    border-bottom: 12px solid #940f6c;
}

h2 {
    font-size: 3em;
    margin-bottom: 2.94rem;
    font-family: 'Bangers', cursive;
}

p {
    font-size: 2.1em;
    margin-bottom: 2.94rem;
    font-family: 'Carter One', cursive;
}

img {
    margin-bottom: 2.94rem;
}

code {
    font-size: 1em;
}

pre {
    border: 1px solid #ccc;
    background-color: #444;
    color: #fcfcfc;
    padding: 1em;
    font-size: 1.8em;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

.presentation {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4rem;
    display: flex;
    flex-flow: row | nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, rgba(0,145,147,0.3), rgba(148,15,108,0.3), rgba(148,127,15,0.3));
    color: #009193;
    font-family: sans-serif;
}

a,
a:visited {
    color: #074647;
}

.slide-container {
    display: none;
}

.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.fade-in {
    animation: fade-in 1s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.timer {
    font-size: 3.25em;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Carter One', cursive;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 4px 12px;
    text-align: left;
}

tbody tr td {
    border-top: 1px solid #ccc;
}

.lapp {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    transform: rotate(-30deg);
    background-color: #FFFFCC;
    padding: 1em;
    margin-left: 300px;
}

.lapp p {
    font-family: Bradley Hand, cursive;
}

.left-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
