@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    color: #fff;
    background-color: #65A6EB;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 7em;
    margin-bottom: 2.94rem;
}

h2 {
    font-size: 3em;
    margin-bottom: 2.94rem;
}

p {
    font-size: 2.1em;
    margin-bottom: 2.94rem;
}

a {
    color: #65EBDA;
}

li {
    font-size: 2.1em;
    margin-bottom: 2.94rem;
}

img {
    margin-bottom: 2.94rem;
}

code {
    font-size: 1em;
    margin-bottom: 2.94rem;
    font-family: monospace;
}

pre {
    border: 1px solid #ccc;
    background-color: #444;
    color: #fcfcfc;
    padding: 1em;
    font-size: 1.8em;
    margin-bottom: 2.94rem;
}

.presentation {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-flow: row | nowrap;
    justify-content: center;
    align-items: center;
    background-color: #65A6EB;
}

.slide-container {
    display: none;
}

.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background-color: #65A6EB;
    padding: 2rem;
}

.fade-in {
    animation: fade-in 0.5s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.timer {
    font-size: 3.25em;
    position: absolute;
    top: 0;
    right: 0;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 4px 12px;
    text-align: left;
}

tbody tr td {
    border-top: 1px solid #ccc;
}

.lapp {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    transform: rotate(-30deg);
    background-color: #FFFFCC;
    padding: 1em;
    margin-left: 300px;
}

.lapp p {
    font-family: 'Caveat', cursive;
}

.left-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bad-design {
    display: flex;
    flex-direction: column;
}

.typo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.split {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.split img {
    width: 40%;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
