* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $text-color;
}

.line {
    background-color: $line-color;
    color: $text-color;

    p {
        font-size: 14px;
    }

    a {
        text-decoration: none;
    }
}
