{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <h1>Bara så vi vet vi är rätt</h1>
    <div class="main" role="main">
        {{ content }}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
