* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    border: 1px solid #3c3c3c;
    margin: 1em;
}

.container div {
    padding: 2em;
}

.container div:first-child {
    background-color: #9b59b6;
}

.container div:nth-child(even) {
    background-color: #3498db;
}

.container div:last-child {
    background-color: #2ecc71;
}

/* flex-direction */

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

/* flex-wrap */

.wrap-base div {
    width: 50%;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* justify-content */

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}
