* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 100%;
    line-height: 1.4;
}

.container {
    width: 80%;
    margin: 3em auto;
    background-color: #ccc;
    padding: 3em;
}

img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.54rem;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 1.54rem;
}

p {
    font-size: 1.1em;
    margin-bottom: 1.54rem;
}
